@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,800');

* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
	// transition: all .3s ease-in-out;
}

img {
	max-width: 100%;
	height: auto;
}

html {
	height: 100%;
}

body, html {
	min-height: 100%;
	width: 100%;
}

.clear::after, .clear::before {
	content: " ";
	display: table;
}

.clear::after {
	clear: both;
}


body {
	font: 17px/27px $font;
	line-height: 1.4;
	scroll-behavior: smooth;
}

.cahee-link{
	text-transform: uppercase;
	padding-top: 50px;
	
	
	&__link {
		display: inline-block;
		text-decoration: none;
		width: 20%;
		padding: 20px 0;
		background: #5585a2;
		color: #fff;
		box-shadow: 0 5px 10px 2px rgba(0, 0, 0, .4);
		
		&:hover {
			background: lighten(#5585a2, 25%);
		}

		&--red {
			background: #f72b3b;

			&:hover {
				background: lighten(#f72b3b, 20%);
			}
		}

	}


}

.gallery__main {

	&__title {		
		font-size: 90px;
		font-weight: 700;
		padding-bottom: 40px;
	}

	&__desc {
		padding-bottom: 50px;
	}


} 