.cahee-footer {
	background: $black;
	color: #b9b9b9;
	
	.container__footer {
		padding-top: 30px;
		padding-bottom: 30px;
	}


}


.author {
	font-weight: 700;
	
	span {
		color: #ff2b58;
	}
}

.logo-footer {
	display: block;
	margin: 0 auto;
}